<article class="miniature">
    <input type="hidden" name="artId" value="%artId%"/>
    <section class="description">
        <div><span class="desc-title">Fonction :</span><p class="artTitle">%artTitle%</p></div>
        <div><img src="%srcUrl%"/></div>
    </section>
</article>
<article class="modifPanel">
    <input type="hidden" name="artId" value="%artId%">
    <section class="contentModifPanel">
        <article class="adminInput">
            <span class="desc-title">Fontion :</span><input  type="text" name="artTitle" value="%artTitle%"/>
            <span class="desc-title">Nom :</span><input  type="text" name="artContent" value="%artContent%"/>
        </article>
        <article class="adminLogo">
            <span class="desc-title">Photo :</span><img src="%srcUrl%"/>
            <section class="logo-btn modif">Modifier</section>
        </article>
    </section>
</article> 
