<article class="miniature">
    <input type="hidden" name="id" value="%idMarque%">
    <section class="description">
        <div><span class="desc-title">Nom :</span><p class="nomMarque">%nomMarque%</p></div>
        <div><img src="%srcUrl%"/></div>
    </section>
</article>
<article class="modifPanel">
    <input type="hidden" name="id" value="%idMarque%">
    <section class="contentModifPanel">
        <article class="adminInput">
            <span class="desc-title">Nom :</span><input type="text" name="nomMarque" value="%nomMarque%">
            <span class="desc-title">Texte :</span><textarea class="textareaMarque" name="content" >%content%</textarea>
            <span class="desc-title">Lien :</span><input type="text" name="marqueLien" value="%marqueLien%">
        </article>
        <article class="adminLogo">
            <span class="desc-title">Logo :</span><img src="%srcUrl%"/>
            <section class="logo-btn modif">Modifier</section>
        </article>
    </section>
</article> 
