<article class="miniature">
    <input type="hidden" name="id" value="%id%"/>
    <section class="description-text">
        <div><span class="desc-title">Entête :</span><p class="PromoDesc">%PromoDesc%</p></div>
        <div><span class="desc-title">Début :</span><p class="dateDebut">%dateDebut%</p></div>
        <div><span class="desc-title">Fin :</span><p class="dateFin">%dateFin%</p></div>
    </section>
</article>
<article class="modifPanel">
    <input type="hidden" name="id" value="%id%">
    <section class="contentModifPanel">
        <article class="adminInput">
            <span class="desc-title">Entête :</span><input class="PromoDesc" type="text" name="PromoDesc" value="%PromoDesc%"/>
            <span class="desc-title">Date de début :</span><input class="datepickerDebut" type="text" name="dateDebut" value="%dateDebut%"/>
            <span class="desc-title">Date de fin :</span><input class="datepickerFin" type="text" name="dateFin" value="%dateFin%"/>
        </article>
        <article class="adminInput">
            <span class="desc-title">Description :</span><textarea class="textareaPromo" name="promoInfo">%promoInfo%</textarea>
        </article>
    </section>
</article> 
